################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Libs/Assessment.Models/obj
/Libs/Assessment.Core/obj
